[user]
    name = r181104
    email = sten181104@gmail.com
    signingkey = ~/.ssh/id_rsa

[core]
    editor = nvim
    pager = delta
    autocrlf = input


[delta]
    line-numbers = true
    side-by-side = false
    syntax-theme = Dracula

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    default = current

[color]
    ui = auto
