@import './../../.cache/waybar-colors.css';

/* ========== GLOBAL ========== */
* {
    font-family: "MesloLGS Nerd Font";
    font-size: 14px;
    border: none;
    border-radius: 10px;
    transition: background 0.3s ease, color 0.3s ease;
    min-height: 0;
}

/* ========== WAYBAR ========== */
window#waybar {
    background-color: alpha(@background, 0.4);
    color: @on_surface;
    border-radius: 0;       /* full-width bar */
    margin: 0;              /* edge-to-edge */
    padding: 6px 10px;      /* internal breathing room */
    background-clip: padding-box;
}

/* Hide bar when fullscreen */
window#waybar.hidden {
    opacity: 0.2;
}

/* ========== MODULES (GENERAL) ========== */
#tray,
#custom-notification,
#disk,
#memory,
#cpu,
#network,
#pulseaudio,
#battery,
#clock,
#custom-lock,
#custom-stream_status {
    background: alpha(@surface_container_high, 0.25);
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 10px;
}

/* Hover effect */
#workspaces button:hover,
#tray:hover,
#custom-notification:hover,
#disk:hover,
#memory:hover,
#cpu:hover,
#network:hover,
#pulseaudio:hover,
#battery:hover,
#clock:hover,
#custom-lock:hover,
#custom-stream_status:hover,
#hyprland-window:hover {
    background: alpha(@surface_variant, 0.25);
}

/* ========== WORKSPACES ========== */
#workspaces {
    margin: 0 8px;
}

#workspaces button {
    color: @on_surface;
    background: alpha(@surface_container, 0.2);
    padding: 7px 16px;
    margin: 0 4px;
    border-radius: 12px;
    font-weight: 500;
}

#workspaces button.focused {
    background: @primary;
    color: @on_primary;
}

#workspaces button.urgent {
    background: @error;
    color: @on_error;
}

/* ========== HYPRLAND WINDOW ========== */
#hyprland-window {
    background: alpha(@surface_container_high, 0.25);
    padding: 6px 18px;
    margin: 0 8px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
}

/* ========== CLOCK ========== */
#clock {
    min-width: 230px;
    font-weight: bold;
}

/* ========== CPU / MEMORY / DISK ========== */
#cpu
#memory,
#disk {
    font-weight: bold;
}

/* ========== BATTERY ========== */
#battery.charging {
    color: @tertiary;
    font-weight: bold;
}
#battery.warning {
    color: @secondary;
    font-weight: bold;
}
#battery.critical {
    color: @error;
    font-weight: bold;
}

/* ========== NETWORK ========== */
#network { 
    min-width: 110px;
    font-weight: bold;
}

/* ========== PULSEAUDIO ========== */
#pulseaudio { min-width: 80px; }
#pulseaudio.muted { color: @error; }

/* ========== TRAY ========== */
#tray { padding: 5px 8px; }

/* ========== CUSTOM MODULES ========== */
#custom-lock,
#custom-notification,
#custom-stream_status {
    padding: 5px 10px;
}
